@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 24px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #4835f1;
}

.navbar .links {
  /*display: flex;
  padding: 8px;*/
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 8px;
}
.navbar a:hover {
  color: #4835f1;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}